body {
    background: #242424;
    color: white;
}

main {
    max-width: 1024px;
    margin: 30px auto;
    padding: 10px 20px;
    border-radius: 15px;
    background: #2c2c2b;    
}

li {
    list-style-type: circle;
}

h1 {
    font-size: 40px;
    font-style: italic;
}

h2 {
    color: aquamarine;
}

.photo {
    float: right;
    margin-right: 30px;
    margin-top: 40px;
    border-radius: 10px;     
}

.code {
    padding: 10px;
    border-radius: 10px;
    overflow-x: scroll;
    font-family: 'Courier New', Courier, monospace;    
    background-color: #f6f8a1;
    color: black;
}